@import url('https://fonts.googleapis.com/css?family=Bad+Script');
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
body{
	font-family: 'Bad Script';
	margin: 0px;	
}
.site-header img{
	position: absolute;
	z-index: -1;
	left: 0px;
	top: 10px;
	width: 100%;
	height: 50%;
}
.title{
	position: absolute;
	bottom: 500px;
	left: 140px;
}
.site-header h1{
	text-align: center;
	width: 500px;
    top: 50px;
    position: absolute;
	bottom: 0px;
	left: 10px;	
	font-size: 45px;
	font-style: italic;
	color: #993D34;
	margin: 0px;
	text-shadow: 1px 1px #3F0C00;
}
.site-header .nav-bar ul li{
	list-style: none;
	display: inline-block;
	padding: 20px;	
}
.site-header div{	
	text-align: center;
	margin-top: 0px;
}
.header-img img{
	margin-top: 40px;
}
.nav-bar{
	background:#EAE9EC;	
	padding-right: 50px;
	text-align: right;
	width: 90%;
	margin: 0 auto;	
}
.nav-bar ul{
    margin-top:10px;	
	margin-right: 40px;			
}
.site-header,.nav-bar ul li a{
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}
.user{
	float: right;
	margin-right: 40px;
}
.nav-bar ul li a:hover{
	color: #993D34;
	cursor: pointer;
	box-sizing: border-box;
	border-bottom: 5px solid #993D34;
}
#menu-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #C0CA8F url(img/menu-icon.png) center;
    position: relative;
    top: 10px;

}
.search input[type="text"]{
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid #C0CA8F;
}
.fa-search{
    margin-right: 20px;
    position: relative;
    right: 40px;
    color: #C0CA8F;    
}
ul.bar{
	display: none;
	width: 12%;
	float: right;
	background: #C0CA8F;
	margin-right: 0px;
	margin-top: 17px;
}
nav:hover ul.bar{
	display: block;
}
.bar li{
	list-style: none;
	display: block;	
}
.bar li a{
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}


