section article{
    display: inline-block;
    vertical-align: top;
    margin: 5px;
    text-align: center;
    border-radius: 7px;
}

.recipe-orange{
    margin: auto;
    background: linear-gradient(to top, rgba(255, 183, 94, 0.2), rgba(238, 144, 5, 0.5));
    box-sizing: border-box;
    width: 350px;
    height:310px;
    border-radius: 30px;
    box-shadow: 2px 3px 3px 3px rgba(238, 144, 5, 0.2);
    overflow: hidden;
}

.recipe-orange h1{
    text-align: center;
    color: #a54631;
    font-size: 30px;
    /*font-family: "Cambria Math";*/
    margin: 5px;
}

.recipe .recipe-image, .recipe p{
    /*display: inline-block;*/
    /*vertical-align: top;*/
}

.recipe-orange .recipe-image{
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

.recipe-orange .recipe-image img{
    width: 100%;
    height: 150px;
    --box-sizing: border-box;
    border-radius: 30px 30px 0 0;
}
.recipe-orange p{
    /*font-family: "Cambria Math";*/
    font-size: 18px;
    color: #a54631;
    width: 90%;
    text-align: justify;
    margin: auto;
    font-weight: bold;

}

.recipe-orange .buttons a:last-child{
    text-decoration: none;
    text-transform: uppercase;


    padding: 5px 10px;
    border-radius: 7px;
    color: rgb(253, 232, 203);
    background-color: #a54631;
}
.recipe-orange .buttons a:first-of-type{
    text-decoration: none;
    text-transform: uppercase;

    padding: 5px 10px;
    border-radius: 7px;
    color: rgb(253, 232, 203);
    background-color: #a54631;
}
.recipe-orange .buttons a{
    float: right;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 5px;
}
 <!-- div -->
.recipe-image{
    overflow: hidden;
    position: relative
}

.redirect-ingredients{
    width: 350px;
    padding: 60px 0;
    text-decoration: none;
    text-align: center;
    border-radius: 30px 30px 0 0;
    border: none;
    font-weight: bold;
    font-size: 26px;
    color: #FFFFFF;
    background: black;
    opacity: 0;
    position: absolute;
    top:8px;
    margin-top: -158px;
    transition: margin-top 0.7s 0.1s;
}

.recipe-image:hover .redirect-ingredients{
    margin-top: 0;
    cursor:pointer;
    opacity: 0.8;
}

.recipe-image img{
    cursor: pointer;
}

